@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body, html{
    height: 100vh;
    width: 100vw;
}

main.grid-container{
    height: 100vh;
    width: 100vw;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px auto 300px;
    column-gap: 5px;
    row-gap: 5px;

}

section.grid-item{
    background-color: powderblue;
    height: 100%;
    width: 100%;
    margin: auto;
    
    

}