@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
        
}

body, html{
    background-color: rgb(212, 194, 170);
    
    box-sizing: border-box;
    height: 100%;

    
} 

main.grid-container{
    height: 100%;
    width: 100%;
        
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 3fr 4fr;
    grid-gap: 5px;
    grid-template-areas:"ficha imagem" 
                        "info imagem" 
                        "info atributos"          
                        "extra atributos";

}

section{
    background-color: white;
    border-radius: 10px;    
    padding: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.564);
}

input, select{
    height: 15px;
    padding: 1px;
    padding-left: 5px;
}

select{
    height: 20px;
}

h2{
    padding-bottom: 10px;
}

p{
    padding: 5px;
    padding-bottom: 15px;
}

section.info > form {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section > form > div {
    background-color: aquamarine;
    /*margin-bottom: 2px;*/
    padding: 5px;
    font-size: 1.2em;
}

section > form > div > input.input-nome{ 
    width: 75%;
    font-size: 1em;
}

section > form > div > input.input-nivel{    
    width: 45px;
    font-size: 1em;
}

section.atributos > div {
   
    
}

section.atributos > div> form > div{
    background-color: aquamarine;
    margin-bottom: 2px;
    padding: 5px;
    font-size: 1.2em;   
}


.ficha{    
   /*background-color: coral;*/
    grid-area: ficha;
    margin-top: 10px;
    margin-left: 10px;
}

.imagem{
    /*background-color: cadetblue;*/
   grid-area: imagem;
   margin-top: 10px;
   margin-right: 10px;
}

.info{
    /*background-color: lightskyblue;*/
   grid-area: info;
   margin-left: 10px;
}

.atributos{
   /* background-color: tan;*/
    grid-area: atributos;
    margin-right: 10px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}

.extra{
    /*background-color: yellowgreen;*/
   grid-area: extra;
   margin-left: 10px;
   margin-bottom: 10px;
}


